<h1>お気に入りリスト</h1>
<table>
  <thead>
    <tr>
      <th>製品画像</th>
      <th>製品名</th>
      <th></th>
    </tr>
  </thead>
  <% @favorites.each do |favorite| %>
  <tbody>
    <tr>
      <td></td>
      <td><%= favorite.item.name %></td>
      <td><%= link_to 'お気に入りリストから削除', end_users_item_favorite_path(@item_id), method: :delete %></td>
    </tr>
  </tbody>
  <% end %>
</table>