<h1>商品一覧</h1>
<%= link_to '新規追加', new_admin_item_path %>
<table>
  <thead>
    <tr>
      <th>画像</th>
      <th>商品名</th>
      <th>商品価格</th>
    </tr>
  </thead>
  <tbody>
    <% @items.each do |item| %>
    <tr>
      <td><%= attachment_image_tag item, :image, :fill, 60, 60, fallback: "" %></td>
      <td><%= item.name %></td>
      <td><%= item.price %></td>
    </tr>
    <% end %>
  </tbody>
</table>