<h1>マイページ</h1>
<table>
  <tr>
    <th>名前</th>
    <td><%= @user.last_name + @user.fitst_name %></td>
  </tr>
  <tr>
    <th>メールアドレス</th>
    <td><%= @user.email %></td>
  </tr>
  <tr>
    <th>登録パスワード</th>
    <td><%= @user.password %></td>
  </tr>
</table>
<%= link_to '登録内容を変更', edit_end_users_user_path(@user.id) %>