<h1>マイページ</h1>
<table>
  <tr>
    <th>名前</th>
    <td><%= @user.last_name + @user.first_name %></td>
  </tr>
  <tr>
    <th>メールアドレス</th>
    <td><%= @user.email %></td>
  </tr>
  <tr>
    <th>登録パスワード</th>
    <td><%= @user.password %></td>
  </tr>
  <%= link_to '登録内容を変更', edit_end_user_userpath(@user.id) %>
</table>