<div class="col-lg-3">
  <p><br><br></p>
  <table class="table table-borderless text-light genre-background">
    <thead>
      <tr class="border-bottom">
        <th>ジャンル一覧</th>
      </tr>
    </thead>
    <% genres.each do |genre| %>
    <tbody>
      <tr>
        <td><%= link_to genre.name, end_users_search_path('search[keyword]', genre.id) %></td>
      </tr>
    </tbody>
    <% end %>
  </table>
</div>