<div class="container">
  <div class="row">
    <div class="col-lg-9 offset-lg-1">
      <h3>お気に入りリスト</h3>
      <div id="destroy_favorite">
        <%#= render "end_users/items/destroy_favorite", { item: @item, favorites: @favorites } %>
        <%= render partial: "end_users/items/destroy_favorite", :locals => { favorite_items: @favorite_items} %>
      </div>
    </div>
  </div>
</div>
