<h1>商品一覧</h1>
<table>
  <thead>
    <tr>
      <th>商品画像</th>
      <th>商品名</th>
      <th>スペック</th>
      <th>価格帯</th>
    </tr>
  </thead>
  <% @items.each do |item| %>
  <tbody>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </tbody>
  <% end %>
</table>